{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
{% if not fuck %}
<br>
<style>
table {

}
</style>
<h5>전체글 보기</h5>

<small><strong>{{count}}</strong> 개의 글</small>

<table class="table">
  <thead class="thead">
    <tr>
      <th scope="col" width="50">Category</th>
      <th scope="col">Title</th>
        <th scope="col" width="50">작성자</th>
      <th scope="col" width="220">생성일</th>
    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
    <tr>
        <td>{{object.category.name}}</td>
        <td><a href="{% url 'blog:post_detail' object.id %}" style="color:black">{{object.title}}</a></td>
        <td>{{object.author}}</td>
        <td>{{object.created }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% if user.is_authenticated %}

    <a href="{% url 'blog:post_create' %}" class="btn btn-outline-dark btn-sm" style="float:right">글쓰기</a><br>

{% endif %}

<nav aria-label="Page navigation example">
  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item">
      <a class="page-link" href="{% url 'blog:index' %}?page={{page}}-1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
        {% for page in page_range %}
        <li class="page-item"><a class="page-link" href="{% url 'blog:index' %}?page={{page}}">{{page}}</a></li>
        {% endfor %}
      <a class="page-link" href="{% url 'blog:index' %}?page={{page}}+1 " aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

<form action="" method="get" id="search_form" class="">
    {%csrf_token%}
    <div class="form-row align-items-center justify-content-center">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="username" name="search_type">
            <label class="form-check-label" for="inlineCheckbox1">작성자</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="title" name="search_type">
            <label class="form-check-label" for="inlineCheckbox2">제목</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="text" name="search_type">
            <label class="form-check-label" for="inlineCheckbox3">본문</label>
        </div>
    </div>
    <div class="form-row align-items-center justify-content-center">
        <div class="col-sm-3 my-1">
            <input type="text" class="form-control" placeholder="Search Keyword" name="search_key">
        </div>

        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>


{% else %}
{% endif %}
{% endblock %}