{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
    <form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="card-deck">
            <div class="card" style>
                <div class="card-body">
                    <normal>{{object.title}}</normal>
                    <normal style="margin-right:5px">{{object.created}}</normal>
<!--                    <p class="card-title" style="font-style: italic;">-->
<!--                        {{object.title}}-->
<!--                    <h6 class="float-right">{{object.created}}</h6>-->
<!--                        <p style="text-align:right">{{object.category.name}}</p>-->

                    </p>

                    <div class="card-footer">
                    <small class="text-muted">{{object.text|safe}}</small>
                    </div>
                    <a href="{% url 'blog:post_update' object.id%}" type="button" class="btn btn-dark">update</a>
                    <a href="{% url 'blog:post_delete' object.id%}" type="button" class="float-right btn btn-dark">delete</a>
                </div>
            </div>
        <ul class="nav nav-pills">
        </ul>
        </div>

    </div>

    </form>
{% endblock %}